/* 
https://jrl.ninja/etc/1/ 
https://jgthms.com/web-design-in-4-minutes/#centering
*/
html,
body {
  color: #333;
  margin: 0 auto;
  max-width: 900px;
  /* padding: 0 2rem; */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (max-width: 900px) {
  html,
  body {
    padding: 0 0.5rem;
  }
}

h2 {
  margin-top: 0.5em;
  padding-top: 0.5em;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.footer {
  margin: 0 auto;
  padding-bottom: 2rem;
}

/* https://stackoverflow.com/a/43117538*/
.full-width {
  position: absolute;
  left: 0;
  right: 0;
}

@media (min-width: 550px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}
