/* 
https://jrl.ninja/etc/1/ 
https://jgthms.com/web-design-in-4-minutes/#centering
*/
html,
body {
  color: #333;
  margin: 0 auto;
  max-width: 900px;
  /* padding: 0 2rem; */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (max-width: 900px) {
  html,
  body {
    padding: 0 0.5rem;
  }
}

.footer {
  margin: 0 auto;
  padding-bottom: 2rem;
}

/* https://stackoverflow.com/a/43117538*/
.full-width {
  position: absolute;
  left: 0;
  right: 0;
}

@media (min-width: 550px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}
